body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(120deg, #b186e1, #274a6c);
    position: relative;
    overflow: hidden;
}

body::before {
    content: url("assets/charte_test.svg");
    position: absolute;
    top: 70%;
    left: 90%;
    scale: 1.5;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 1rem 0;
    border-radius: 10px;
    position: relative;
    z-index: 2;


}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;

}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #5e5c5c;
}

thead {
    background-color: #01051e;
    font-weight: bold;
}

.data-table .row-even {
    background-color: rgba(21, 101, 179, 0.46);
}

.data-table .row-odd {
    background-color: #b186e1;
}

.status-active {
    color: green;
    font-weight: bold;
}

.status-inactive {
    color: red;
    font-weight: bold;
}


.loading-message {
    text-align: center;
    color: #b186e1;
    font-size: 1.2rem;
}
